{% load static %}
<DOCTYPE !html>
<html lang="pl">
    <head>
        <title> {% block title %} {% endblock %}</title>
        <meta charset="URF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <meta name="viewport" content="width-device=width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Strona domowa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/erd">Podgląd ERD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dokumentacja">Dokumentacja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dokumentacja">SELECT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dokumentacja">INSERT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dokumentacja">UPDATE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dokumentacja">DELETE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/own_query">Polecenia własne</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Zaloguj się</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
        {% block data %}
        {% endblock %}
        </div>
        <br><br>
        <footer class="bg-body-tertiary text-center bg-dark" style="bottom: 0; position: fixed; left: 0; width: 100%;">
            <div class="container p-4">
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
                    © 2023/2024 Copyright:
                    <span class="text-reset fw-bold">Kacper Tracz</span>
                </div>
            </div>
        </footer>
    </body>        
</html>
