<DOCTYPE !html>
{% load static %}
    <html lang="pl">
    <head>
        <title> {% block title %} {% endblock %}</title>
        <meta charset="URF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="icon" href="{% static 'images/icon.png' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Strona domowa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/erd">Podgląd ERD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/skrypt">Podgląd skryptu SQL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dokumentacja">Dokumentacja</a>
                        </li>
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/insert">INSERT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/own_query">Polecenia własne</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/select">SELECT</a>
                                </li>
                                {% if is_rybak %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/insert">INSERT</a>
                                </li>
                                {% endif %}
                                {% comment %} <li class="nav-item">
                                    <a class="nav-link" href="/update">UPDATE</a>
                                </li> {% endcomment %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/delete">DELETE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/special">SPECIAL</a>
                                </li> 
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <span class="navbar-text"><strong>Witaj, {{user.username}}&nbsp;&nbsp;</strong></span>
                        <li class="nav-item">
                            <a class="nav-link" href="/rewrite">Zresetuj dane w bazie    </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Wyloguj się    </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Zaloguj się</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
        {% block data %}
        {% endblock %}
        </div>
        <br><br>
        <div class="container">
            <footer class="footer mt-auto py-3 bg-dark text-white" style="bottom: 0; position: fixed; left: 0; width: 100%;">
              <div class="container text-center">
                © 2023/2024 Copyright:&emsp;<span class="text-reset fw-bold">Kacper Tracz</span>
              </div>
            </footer>
          </div>
    </body>        
</html>
