{% extends 'main/base.html' %}
{% block title %} SPECIAL {% endblock %}
{% block data%}
<br><br>
{% if is_rybak %}
<br>
    <form method="post" action="{% url 'special' %}">
        <div class="form-group">
            {% csrf_token %}
            <label for="rybak_id_special">ID rybaka:</label>
            <input type="number" class="form-control" name="rybak_id" required>
            <br>
            <label for="sklep_id_special">Nazwa rynku/sklepu:</label>
            <input type="text" class="form-control" name="sklep_id" required>
            <br>
            <button type="submit" name="submit_special_rybak" class="btn btn-primary">Sprzedaj towar</button>
        </div>
    </form>
{% else %}

{% endif %}


<br><br>

{% if error_message %}
    <p class="h4" style="color:red">{{ error_message }}</p>
{% elif results %}
    <p class="h4" style="color:red">{{ query }}</p>
    <br>
    <table class="table table-dark">
        <thead>
            <tr>
                {% for key in results.0.keys %}
                    <th scope="col">{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
                <tr>
                    {% for value in row.values %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}